body {
    font-family: "Roboto", sans-serif;
}

h1,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
}

h1 {
    padding: 1.5rem 1rem;
}

main {
    padding: 1rem;
    background-color: #cfd8e6;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #fff;
}

footer {
    padding: 1rem;
    background-color: #aebce8;
}